.catalog{
  margin-top: 10px;
  &__item{
    width: calc((100% - 20px * 4) / 4);
    background: #e5e3e3;
    padding: 10px 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
    @media (max-width: 768px) {
      width: calc((100% - 20px * 3) / 3);
    }
    @media (max-width: 500px) {
      width: calc((100% - 20px * 2) / 2);
    }
    &:hover{
      opacity: .6
    }
  }
  &__image{
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__name{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  &__price{
    font-size: 1rem;
    color: #333333;
    display: flex;
    justify-content: flex-end;
  }
}
