.product{
  max-width: 750px;
  margin: 0 auto;
  padding: 10px;
  &__image{
    min-width: 350px;
    width: 50%;
    margin: 0 auto;
  }
  &__name{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  &__price{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  &__description{
    margin-top: 1rem;
    font-size: 1rem;
    max-height: 50vh;
    overflow-y: scroll;
    margin-bottom: 15px;
    min-height: 50px;
    color: #333333;
    scrollbar-width: thin;
    scrollbar-color: var(--bs-primary) var(--bs-white);
  }
  &__btn{
    display: flex;
    justify-content: center;
    &--number{
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  &__message{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--bs-warning);
  }
}
